<!DOCTYPE html> 
<html lang="en"> 
<head> 
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>FitGeneration</title> 
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- materialize CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="/css/exercise.css">
  <!-- script tags -->
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js">
  </script>
  <script type="text/javascript" src="../javascripts/exercise.js"></script>
</head> 
<body> 
<!-- navbar content -->
<nav>
  <div class="nav-wrapper blue-grey lightnen-1">
    <a href="#" class="brand-logo logoname">FitGeneration</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a class="prog-links" href="/users/<%= user.id %>">Home</a></li>
      <li><a href="/users">Search</a></li>
      <li><a href="/photos">Photos</a></li>
      <li><a class="navlinks" href="/logout">Signout</a></li>
    </ul>
  </div>
</nav> <!--  end of navbar -->

<!-- meal journal -->
<div class="meal-container">
  <ul class="collection with-header">
    <li class="collection-header"><h4 class="center-align">Meal Journal</h4></li>
    <li class="collection-item">Meal: <%=  meal.meal_name %> </li>
    <li class="collection-item">Drink: <%= meal.drink_name %></li>
    <li class="collection-item">Snack: <%= meal.snack_name %></li>
    <li class="collection-item"><button class="edit-button"><a class="user-button" href="/meals/<%= meal._id %>/edit">Edit Meal</a></button></li>
  </ul>
</div>

<div class="clear-fix"></div>
<!-- footer content -->
<footer class="page-footer blue-grey darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">FitGeneration</h5>
        <p class="grey-text text-lighten-4">Improve all aspects in your life.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      FitGeneration © 2014 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>