<!DOCTYPE html> 
<html lang="en"> 
<head> 
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Era</title> 
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- materialize CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="/css/landing.css">
  <!-- script tags -->
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
</head> 
<body> 
<!-- navbar -->
 <nav>
  <div class="nav-wrapper blue-grey lightnen-1">
    <a href="#" class="brand-logo logoname">Era</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a class="prog-links" href="/users/<%= user.id %>">Home</a></li>
      <li><a href="/users">Search</a></li>
      <li><a href="/photos">Photos</a></li>
      <li><a class="navlinks" href="/logout">Signout</a></li>
    </ul>
  </div>
</nav> 
<!-- users nav-banner  -->
<div class="col-lg-6 col-sm-6 center-align">
  <div id="pagewrap">
    <section id="profilecontainer">
      <div id="profileWrap">
        <img class="avatar" src="<%= user.avatar %>" alt="">
        <p class="userName"><%= user.username %></p>
    </section>
  </div>
</div>

<!-- users navigation -->
<nav class="cyan darken-3">
  <ul id="navTxtBtm">
    <li id="followers">
      <a href="/photos/new">Add photo</a>
    </li>
    <li id="followers">
      <a href='/users/<%= user._id %>/edit'>Edit profile</a>
    </li>
    <li id="followers"> 
      <a href="/meals/new">Log Meal</a> 
    </li> 
      <a href="/exercises/new">Create plan</a> 
    </li>
  </ul>
</nav>

<!-- users stats -->
<div class="user-status center-align"> 
  <h4>Progress Photos</h4>
  <h5>Weight: <%= user.weight %></h5>
  <h5>Height: <%= user.height %></h5>
  <h5>Status: <%= user.status %></h5>
</div>


<!-- footer content -->
<footer class="page-footer blue-grey darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">FitGeneration</h5>
        <p class="grey-text text-lighten-4">Improve all aspects in your life.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Era © 2014 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>

</body>
</html>